.myTeamSites {
  padding: 16px;
}

.siteGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* At least 3 cards per row */
  gap: 16px; /* Space between the cards */
}

.siteCard {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  padding: 10px;
}


@media (max-width: 768px) {
  .siteCard {
    width: calc(50% - 16px); /* 2 cards per row on smaller screens */
  }
}

@media (max-width: 480px) {
  .siteCard {
    width: 100%; /* 1 card per row on mobile */
  }
}


.cardHeader {
  position: relative;
  height: 15px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 6px;
}

.siteIcon {
  margin-top: 7px;
  margin-left: 6px;
  width: 32px;
  height: 32px;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  font-size: 14px;
}


.star {
  font-size: 14px;
  color: white;
  margin-left: auto;
  margin-top: -4px; 
}


.siteName {
  padding: 8px;
  font-weight: 600;
  font-size: 14px;
  margin-top: 15px; 
}


.siteLabel {
  padding: 0 8px 8px 8px;
  font-size: 13px;
  color: #666;
}
